.app__blogPreview {
  display: flex;
  // justify-content: center;
  width: 100vw;

  .app__blogPreview-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 50vw;
    margin-top: 4rem;
  }
}

.app__blogPreview-item {
  width: 80%;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;

  img {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .details {
    display: flex;
    margin: 1rem;

    img {
      background-color: rgb(197, 49, 197);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .content {
      width: 100%;
      .bottom {
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        .likes,
        .comments {
          margin: 0 0.3rem;
        }
      }
    }
  }
}
