.app__header {
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 215, 53);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
}

.app__header-logo {
  font-family: var(--font-logo);
  font-size: 2rem;
  margin-left: 2.5rem;
  
  span {
    font-family: inherit;
    background-color: rgb(28, 210, 56);
    border-radius: 10px;
    padding: 0 5px;
  }
}

.app__header-nav {
  display: flex;
  align-items: center;
  margin-right: 1rem;

  .feed, .market, .write {
    margin: 0 1rem;
    font-weight: 600;
  }

  .info div {
    background-color: white;
    border-radius: 5px;
    margin: .5rem;
    padding: .1rem .5rem;
    font-size: .9rem;
    font-weight: 600;
  }
}