.app__market {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.app__market-content {
  width: 50vw;
  height: 100;
  background-color: white;
  margin: 2rem 0;
  border-radius: 10px;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    span {
      cursor: pointer;
      background-color: yellow;
      margin: 1rem 0;
      padding: 1rem 3rem;
      font-size: 1.3rem;
      font-weight: 500;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: white;
        outline: solid 1px gray;
      }

      &:active {
        background-color: yellow;
      }
    }
  }

  .sell-view {
    display: flex;
    margin: 1rem;

    textarea {
      width: 50%;
      height: 100px;
      margin: 1rem;
      padding: 1rem;
      font-size: 1.2rem;
      border: solid 1px gray;
      border-radius: 5px;
      outline: none;
    }

    .sell-view--menu {
      margin: 1rem 0;

      input {
        height: 1.5rem;
        width: 50%;
        font-size: 1.3rem;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        border: solid 1px gray;
      }

      .sell-btn {
        cursor: pointer;
        margin-top: 1rem;
        height: 45px;
        width: 55%;
        border: solid 1px transparent;
        border-radius: 5px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:active {
          background-color: rgb(12, 206, 12);
        }
      }

      .sell-btn,
      input {
        &:hover,
        &:focus {
          border-color: yellow;
        }
      }
    }
  }

  .buy-view {
    margin: 1rem;

    .bfa {
      display: flex;
      justify-content: center;

      .bfa-btn {
        cursor: pointer;
        background-color: green;
        width: fit-content;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 0 .5rem;

        &:hover {
          background-color: rgb(12, 206, 12);
        }

        &:active {
          background-color: green;
        }
      }      

      input {
        outline: none; 
        border: solid 1px gray;
        border-radius: 10px;     
        padding: 0 .5rem; 
        font-size: 1.3rem; 
        width: 30%;

        &:active, &:focus {      
          border: solid 1px yellow;
        }
      }
    }

    .buy-view--subtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0;
    }


    .item {
      margin: 1rem 0;
      padding: 0.5rem;
      display: flex;
      background-color: rgb(245, 255, 130);
      border-radius: 50px;

      .avatar {
        width: 50px;
        height: 50px;
        background-color: purple;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .message {
        width: 50%;
        margin-right: auto;
        display: flex;
        align-items: center;
      }

      .details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 1rem;
        width: 30%;

        .quantity {
          font-size: 1.4rem;
          background-color: white;
          padding: 0.5rem;
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .buy-btn {
          cursor: pointer;
          background-color: green;
          color: white;
          padding: 0.3rem 1rem;
          border-radius: 10px;

          &:hover {
            background-color: rgb(12, 206, 12);
          }

          &:active {
            background-color: green;
          }
        }
      }
    }
  }
}
