.app__blogDetail {
  min-height: 100vh;
  margin-top: 4rem;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in;

  @media screen and (max-width: 450px) {
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
  }
}

.app__blogDetail-content {
  background-color: #ffffff;
  width: 60vw;
  margin-top: 1rem;
  min-height: 100vh;
  border-radius: 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (max-width: 450px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .info {
    display: flex;
    margin: 1rem;

    .info-authorAvatar {
      width: 50px;
      height: 50px;
      margin: 0 0.8rem 0 0.5rem;
    }

    .details {
      margin-right: auto;
    }

    .details > .read-time {
      font-weight: 700;
    }

    .details > .date-published {
      color: rgb(62, 54, 54);
      margin-top: 5px;
      font-size: 0.9rem;
    }

    .reactions {
      display: flex;
      margin-right: 3rem;

      .l-count {
        margin-right: 1rem;
        cursor: pointer;
      }

      .c-count a {
        text-decoration: none;
      }
    }
  }

  .title {
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    margin: 1.5rem 2rem 0;

    @media screen and (max-width: 450px) {
      font-size: 2rem;
      font-weight: 800;
      word-spacing: 2px;
    }
  }

  .content {
    text-align: left;
    font-size: 1.2rem;
    word-spacing: 4px;
    margin: 2rem;
    line-height: 1.9rem;

    @media screen and (max-width: 450px) {
      font-size: 1.1rem;
      margin: 1.2rem;
    }
  }

  hr {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 2rem;

  .sponsor-txt {
    margin: 0.5rem;
    font-weight: 700;
  }

  .sponsor-input {
    margin: 0.5rem 0;
    input {
      width: 3rem;
      padding: 3px;
      margin-left: 5px;
      outline: none;
      border: solid 1px gray;
      font-size: 1.1rem;
      border-radius: 5px;
    }
  }

  .buy {
    cursor: pointer;
    background-color: pink;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;

    span {
      font-size: 2rem;
      margin-left: 0.5rem;
    }

    &:active {
      background-color: rgb(244, 111, 133);
    }
  }
}

.comments {
  width: 50vw;

  textarea {
    width: 48vw;
    height: 5rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
  }

  .comment-btn {
    cursor: pointer;
    background-color: green;
    margin-left: auto;
    margin-top: 0.2rem;
    margin-right: 2rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;

    &:active {
      background-color: rgb(12, 256, 12);
    }
  }

  .comment-list p {
    font-size: 1.5rem;
  }

  .comment-item {
    margin: 1rem 0;
    display: flex;
    justify-content: left;

    .author-avatar-c {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: purple;
      margin-right: 1rem;
      margin-top: 1rem;
    }

    .comment-item {
      background-color: white;
      border-radius: 5px;
      padding: 1rem;
      width: 85%;
      line-height: 25px;
      word-spacing: 3px;
    }
  }

  @media screen and (max-width: 450px) {
    width: 90vw;

    textarea {
      width: 90%;
    }
  }
}
