.app__blogPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;

  @media screen and (max-width: 450px) {
    width: 100%;
  }

  .app__blogPreview-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 50vw;
    margin-top: 4rem;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}

.app__blogPreview-item {
  width: 80%;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;

  @media screen and (max-width: 450px) {
    width: 90%;
  }

  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (max-width: 450px) {
      height: 200px;
    }
  }

  .preview-details {
    display: flex;
    margin: 1rem;

    img {
      cursor: pointer;
      background-color: rgb(197, 49, 197);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;

      @media screen and (max-width: 450px) {
        margin-right: 0.5rem;
      }
    }

    .preview-content {
      width: 88%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 450px) {
        width: 81%;
      }

      .preview-title {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 800;
        color: blue;
        
        &:hover {
          text-decoration: underline;
        }
      }

      .preview-readingTime {
        margin: 0.5rem 0;
      }

      .preview-bottom {
        display: flex;

        .preview-likes {
          margin-right: 1em;
        }
      }
    }
  }
}
